{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
<body class="container-sm w-75 mt-5 mx-auto justify-content-center align-items-center bg-black bg-opacity-75 text-white">
    <div class="row pt-5">
        <div class="col-5">
            <table class="table text-danger">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ game.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ game.Name }}</td>
                    </tr>
                    <tr>
                        <th>Ram</th>
                        <td>{{ game.Ram }}</td>
                    </tr>
                    <tr>
                        <th>DiskSpace</th>
                        <td>{{ game.DiskSpace }}</td>
                    </tr>
                    <tr>
                        <th>UpdateTime</th>
                        <td>{{ game.UpdateTime ? game.UpdateTime|date('Y-m-d') : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-6">
        </div>

            <div id="main" class="row">
                <div class="container">
                    <h1>Carousel with bootstrap</h1>
                    <div id="carousel-simple" class="carousel slide col-md-6 col-md-offset-3" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-simple" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-simple" data-slide-to="1"></li>
                            <li data-target="#carousel-simple" data-slide-to="2"></li>
                            <li data-target="#carousel-simple" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->

                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="{{ asset('/image/game/' ~ game.ImgURL) }}" alt="">
                            </div>
                            <div class="item">
                                <img src="{{ asset('/image/game/image1') }}"  alt="">
                            </div>
                            <div class="item">
                                <img src="{{ asset('/image/game/image2') }}"  alt="">
                            </div>
                            <div class="item">
                                <img src="{{ asset('/image/game/image3') }}"  alt="">
                            </div>

                        </div>


                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-simple" role="button" data-slide="prev">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                        <a class="right carousel-control" href="#carousel-simple" role="button" data-slide="next">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1> Description</h1>
    <div>

    </div>
   {#  <div>
        <h1>Create new Article</h1>
        <iframe src="{{ path('app_article_new',{'id': game.id }) }}" style="height:380px;width:100%"></iframe>
    </div>#}



{#    haha:

    {% set divid = 0 %}
    {% set i = -1 %}#}
{#    {% for article in game.getArticles %}
#}{#        {% set i = i + 1 %}
{% set divid = divid + 1 %}#}{#
        <div class="row">
            <span class="button button-success">{{ article.Title }}</span>
        </div>
        <div class="row">
    <h6>{{ article.Paragraph }}</h6>
        </div>
        <div class="row">
            {% if article.ImgURLArticle != null %}
            <img class="h-75 w-auto" src="{{ asset('/image/game/article/' ~  article.ImgURLArticle) }}">
            {% endif %}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            {{ include('article/_delete_form.html.twig') }}
        </div>
        {% endif %}#}
        {#<div class="row">
            <button id="edit {{ divid }}" onclick="toggleBlock{{ divid }}()">Edit</button>
        </div>

        <div hidden id="{{ divid }}" class="border">
            {{ form_start(forms[i]) }}
            <div class="d-flex justify-content-center"> Title</div>
            <div class="row"> {{ form_widget(forms[i].Title,{'attr': {rows:'1', cols:'50'}}) }}</div>
            <div class="d-flex justify-content-center"> Paragraph </div>
            <div class="row"> {{ form_widget(forms[i].Paragraph,{'attr': {rows:'4', cols:'50'}}) }} </div>


            <div class="row">
                <input type="submit" value="oke">

            </div>
        </div>
    {{ form_end(forms[i]) }}
    #}


{#
        <script>
            function toggleBlock{{ divid }}() {
                var myBlock = document.getElementById("{{ divid }}");

                var blockButton = document.getElementById("edit {{ divid }}");

                if (myBlock.hidden) {
                    blockButton.innerHTML = "Close";
                    myBlock.hidden = false;
                } else {
                    blockButton.innerHTML = "Edit";
                    myBlock.hidden = true;
                }
            }
        </script>
        #}
    {% if is_granted('ROLE_ADMIN') %}

                    <div class="row d-flex justify-content-center align-items-center h-100">
                        {{ form_start(formArticle, {'attr': {class:'mx-1 mx-md-4'}}) }}
                        {{ form_end(formArticle) }}

                    </div>
    {{ include('game/_delete_form.html.twig') }}
    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>
{% endif %}


</body>
{% endblock %}
