{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
<body class="container-sm w-75 mt-5 mx-auto justify-content-center align-items-center bg-black bg-opacity-75 text-white">
    <div class="row pt-5">
        <div class="col-6">
            <table class="table text-danger">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ game.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ game.Name }}</td>
                    </tr>
                    <tr>
                        <th>Ram</th>
                        <td>{{ game.Ram }}</td>
                    </tr>
                    <tr>
                        <th>DiskSpace</th>
                        <td>{{ game.DiskSpace }}</td>
                    </tr>
                    <tr>
                        <th>UpdateTime</th>
                        <td>{{ game.UpdateTime ? game.UpdateTime|date('Y-m-d') : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-6">
            <img class="border img-fluid w-100"  src="{{ asset('/image/game/' ~  game.ImgURL) }}" alt="">
        </div>


    <h1 class=" mt-5 text-danger bg-black w-100 border border-warning d-flex justify-content-center"> Description</h1>
    <div id="content">
        {{ article.Content | raw }}

    </div>


   {#  <div>
        <h1>Create new Article</h1>
        <iframe src="{{ path('app_article_new',{'id': game.id }) }}" style="height:380px;width:100%"></iframe>
    </div>#}



{#    haha:

    {% set divid = 0 %}
    {% set i = -1 %}#}
{#    {% for article in game.getArticles %}
#}{#        {% set i = i + 1 %}
{% set divid = divid + 1 %}#}{#
        <div class="row">
            <span class="button button-success">{{ article.Title }}</span>
        </div>
        <div class="row">
    <h6>{{ article.Paragraph }}</h6>
        </div>
        <div class="row">
            {% if article.ImgURLArticle != null %}
            <img class="h-75 w-auto" src="{{ asset('/image/game/article/' ~  article.ImgURLArticle) }}">
            {% endif %}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            {{ include('article/_delete_form.html.twig') }}
        </div>
        {% endif %}#}
        {#<div class="row">
            <button id="edit {{ divid }}" onclick="toggleBlock{{ divid }}()">Edit</button>
        </div>

        <div hidden id="{{ divid }}" class="border">
            {{ form_start(forms[i]) }}
            <div class="d-flex justify-content-center"> Title</div>
            <div class="row"> {{ form_widget(forms[i].Title,{'attr': {rows:'1', cols:'50'}}) }}</div>
            <div class="d-flex justify-content-center"> Paragraph </div>
            <div class="row"> {{ form_widget(forms[i].Paragraph,{'attr': {rows:'4', cols:'50'}}) }} </div>


            <div class="row">
                <input type="submit" value="oke">

            </div>
        </div>
    {{ form_end(forms[i]) }}
    #}


{#
        <script>
            function toggleBlock{{ divid }}() {
                var myBlock = document.getElementById("{{ divid }}");

                var blockButton = document.getElementById("edit {{ divid }}");

                if (myBlock.hidden) {
                    blockButton.innerHTML = "Close";
                    myBlock.hidden = false;
                } else {
                    blockButton.innerHTML = "Edit";
                    myBlock.hidden = true;
                }
            }
        </script>
        #}
    {% if is_granted('ROLE_ADMIN') %}

                    <div class=" row d-flex justify-content-center align-items-center h-100">
                        {{ form_start(formArticle, {'attr': {class:'mx-1 mx-md-4'}}) }}
                        <label class="text-danger bg-black w-100 border d-flex justify-content-center">
                            CONTENT EDIT
                        </label>
                        {{ form_widget(formArticle.Content) }}
                        <button type="submit" class="btn btn-primary text-danger bg-black w-100 border d-flex justify-content-center">SUBMIT</button>
                        {{ form_end(formArticle) }}

                    </div>
        <div class="row">
            <div class="col">
                {{ include('game/_delete_form.html.twig') }}
            </div>
            <a type="button" class=" col-2 btn btn-danger" href="{{ path('app_game_edit', {'id': game.id}) }}">Edit this game</a>
        </div>
    </div>
{% endif %}
    <h1 class=" mt-5 text-danger bg-black w-100 border border-warning d-flex justify-content-center rounded"> Link Download</h1>


</body>
{% endblock %}
